{% extends 'modulos.html' %}
{% load static %}

{% block title %}
Modulo Calendario
{% endblock %}

{% block btnTitle %}
Registrar un nuevo calendario
{% endblock %}

{% block thead %}
<th> Fecha de inicio </th>
<th> Fecha fin </th>
<th> Estado </th>
<th> Acciones </th>
{% endblock %}


{% block tbody   %}
{% if calendario %}
{% for i in calendario %}
<tr>
    <td> {{ i.Fecha_inicio }} </td>
    <td> {{ i.Fecha_fin }} </td>
    {% if i.Estado == True %}
    <td> Activo </td>
    {% else %}
    <td> Inactivo </td>
    {% endif %}

    <td>
        <a class="btn btn-dark" onclick="abrir_modal_editar('{% url 'calendario:editar_calendario' i.id %}')">
            Editar
        </a>
        <form action="{% url 'calendario:InactivarActivarCalendario' i.id %}" method="post" style="display: inline;">
            {% csrf_token %}

            {% if i.Estado %}
            <button type="submit" class="btn btn-danger">Inactivar</button> 
            {% else %}
            <button type="submit" class="btn btn-success">Activar</button> 
            {% endif %}
        </form>
    </td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="4"> No existen registros de calendario</td>
</tr>
{% endif %}
{% endblock %}