{% extends 'form.html' %}
{% load static %}



{% block controls %}

    <div class="form-grid">
        <div class="input-div one">
            <div class="i">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="div">
                <h5>Usuario</h5>
                {{ form.username }}
            </div>
        </div>
        <div class="input-div one">
            <div class="i">
                <i class="fa-solid fa-circle-user"></i>
            </div>
            <div class="div">
                <h5>Nombre</h5>
                {{ form.nombre }}
            </div>
        </div>
        <div class="input-div one">
            <div class="i">
                <i class="fa-solid fa-circle-user"></i>
            </div>
            <div class="div">
                <h5>Apellido</h5>
                {{ form.apellido }}
            </div>
        </div>
        <div class="input-div one">
            <div class="i">
                <i class="fa-solid fa-id-card"></i>
            </div>
            <div class="div">
                <h5>Cédula</h5>
                {{ form.cedula }}
            </div>
        </div>
        <div class="input-div email">
            <div class="i">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="div">
                <h5>Correo Electrónico</h5>
                {{ form.email }}
            </div>
        </div>
        <div class="input-div select">
            <div class="i">
                <i class="fa-solid fa-user-plus"></i>
            </div>
            <div class="div">
                <h5>Rol</h5>
                {{ form.rol }}
            </div>
        </div>
    </div>
    
{% endblock %}



{% block js %}
    <script src="https://kit.fontawesome.com/6f24398be6.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/ocultar_mensajes.js'%}"></script>
    <script src="{% static 'js/hide_show_passw.js' %}"></script>
    <script src="{% static 'js/input_effect.js' %}"></script>
{% endblock %}

