{% extends 'modulos.html' %}
{% load static %}

{% block title %}
Módulo Personal
{% endblock %}

{% block search %}
<form action="{{ dir_search }}" method="GET">
    <div class="input-group">
        <input type="text" name="query" value="{{ query }}"
        placeholder = "Filtrar por Nombre y/o Apellido" aria-describedby="basic-addon2" />
        <button type="submit" class="btn btn-primary mr-1" id="idSearchSp">Buscar</button>
    </div>
</form>
{% endblock %}

{% block btnTitle %}
Registrar nuevo personal
{% endblock %}

{% block thead %}
<th> Nombre </th>
<th> Apellido </th>
<th> Cédula </th>
<th> Correo Electrónico </th>
<th> Rol </th>
<th> Estado </th>
<th> Acciones </th>
{% endblock %}

{% block tbody %}

{% if personal %}
{% for i in personal %}
<tr>
    <td> {{i.nombre}} </td>
    <td> {{i.apellido}} </td>
    <td> {{i.cedula}} </td>
    <td> {{i.email}} </td>
    <td> {{i.rol}} </td>
    {% if i.estado == True %}
    <td> Activo </td>
    {% else %}
    <td> Inactivo </td>
    {% endif %}

    <td>
        <a class="btn btn-dark" onclick="abrir_modal_editar('{% url 'login:editar_personal' i.id %}')"> 
            Editar
        </a>
    
        <form action="{% url 'login:inactivar_objeto' pk=i.id %}" method="post" style="display: inline;">
            {% csrf_token %}

            {% if i.estado %}
            <button type="submit" class="btn btn-success">Inactivar</button> <!-- Verde para Activo -->
            {% else %}
            <button type="submit" class="btn btn-danger">Activar</button> <!-- Rojo para Inactivo -->
            {% endif %}
        </form>
    </td>
        
    </td>
</tr>
{% endfor %}
{% else %}
    <tr>
        <td colspan="7"> No existe personal registrado</td>
    </tr>
{% endif %}
{% endblock %}