#map {
    width: clamp(150px, 55vw, 300px);
    height: clamp(150px, 55vw, 300px);
    box-shadow: 2px 2px 3px 3px #a5a4a4;
    display: flex;
    justify-content: center;
}


.form-grid-map{
    grid-template-columns: repeat(2, 1fr)!important;
}
@media (width < 1000px) {
    .form-grid.form-grid-map{
        display: flex;
        flex-direction: column;
    }
    
    
}