
.table-container {
    margin: 50px auto;
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.table-container .table {
    border-radius: 10px;
    overflow: hidden; /* Para evitar que el contenido se salga de los bordes redondeados */
}

.table-container h5 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.table td, .table th {
    vertical-align: middle; /* Alinea el contenido verticalmente al centro */
}


.table th, td {
    padding: 40px;
    text-align: center;
}



/* CSS DE BUSCADOR */
.search-btn{
    position: relative;
    left: 10%;
    
}

.search-btn input{
    width: 250px;
    border-width: 1px;
    border-color: gainsboro;
    border-radius: 10px;
    color: gray;
    padding: 10px;

}
.search-btn form{
    margin: auto;
}
.search-btn .btn-add{
    margin: auto;
    display: flex;
    align-items: center;
}

@media (width < 1025) {
    .search-btn{
        grid-template-columns: repeat(2, auto);
    }
}



/* Estilos para responsive */
@media (max-width: 768px) {
    .table-container {
        padding: 10px;
    }

    .table th, td {
        padding: 10px;
    }
}