:root {
    --bg-color: #FAFAFA;
    --sidebar-bg: rgb(18, 23, 30);
    --sidebar-hover-bg: beige;
    --sidebar-text-color: white;
    --sidebar-hover-text: black;
    --arrow-bg: dimgrey;
    --arrow-hover-bg: rgb(218, 218, 218);
    --arrow-hover-color: #12171e;
    --transition-speed: 0.5s;
}

.modal {
    --bs-modal-width: 600px !important; /* Cambia el ancho del modal */
    --bs-modal-bg: #f8f9fa !important; /* Cambia el fondo del modal */
    --bs-modal-border-color: #dee2e6 !important; /* Cambia el color del borde */
    --bs-modal-border-width: 2px !important; /* Cambia el grosor del borde */
}


.side-bar {
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    z-index: 500; /* Lower than the navbar's z-index */
    background-color: #f8f9fa;
}

.side-bar {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 250px;
    background-color: var(--sidebar-bg);
    transition: width var(--transition-speed) ease;
    overflow: auto; /* Agrega scroll vertical si el contenido sobrepasa el espacio */
   
}

.side-bar .nav {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una sola columna */
    padding: 0;
    margin: 0;
}

/* Opcional: Ajustes para mejorar el aspecto del scroll */
.side-bar::-webkit-scrollbar {
    width: 8px;
}

.side-bar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.side-bar::-webkit-scrollbar-thumb:hover {
    background-color: #c4c4c4;
}
.navbar-toggler-icon{
    color: white;
}

.side-bar .nav-link {
    color: var(--sidebar-text-color);
    padding: 5px;
    margin: 10px 20px;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
}

.side-bar .nav-link:hover {
    color: var(--sidebar-hover-text);
    background-color: var(--sidebar-hover-bg);
    border-radius: 10px;
}

.side-bar .nav-item {
    font-size: 16px;
}

.side-bar .fa-angles-right,
.side-bar .fa-angles-left {
    color: var(--sidebar-text-color);
    padding: 10px;
    margin: 10px;
    background-color: var(--arrow-bg);
    border-radius: 10%;
    transition: all 0.5s ease;
    cursor: pointer;
}


.side-bar .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.side-bar.active {
    width: 80px;
}



.main-content {
    position: relative;
    top:70px;
    margin-left: 300px; /* Margen para evitar superposición con el sidebar */
    flex: 1;
    padding: 20px 10px;
    background-color: var(--bg-color);
    transition: margin-left var(--transition-speed) ease;
}

@media (max-width: 875px) {
    .side-bar {
        display: none;
    }
    .main-content{
        width: 100%;
        margin:40px;
    }
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.page-item .page-link {
    color: #4c82af; /* Verde más suave */
    font-weight: 500;
    padding: 10px 15px;
    border: 1px solid #4c7aaf;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.page-item.active .page-link {
    background-color: #4c7aaf; /* Fondo verde */
    color: #fff;
    border-color: #4c8baf;
}

.page-item .page-link:hover {
    background-color: #3a679b; /* Fondo verde más oscuro en hover */
    color: #fff;
    text-decoration: none;
}

.img{
    width: 70%;
    padding: 5px;
}


/* UIVERSE.IO */
.Btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--af-white);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: var(--night-rider);
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--night-rider);
    font-size: 0.9em;
    font-weight: 600;
    transition-duration: .3s;
}

/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 5px;
    transition-duration: .3s;
}

.side-bar.active .Btn:hover .text {
    opacity: 0;
}

.side-bar.active .Btn:hover {
    width: 45px;
}

.side-bar.active .Btn:hover .sign{
    width: 100%;
    padding-left: 10px;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

/* button click effect*/
.Btn:active {
    transform: translate(2px, 2px);
}

.logout {
    margin-bottom: 40px;
}