{% extends 'modulos.html' %}
{% load static %}

{% block title %}
Módulo Ubicación
{% endblock %}

{% block btnTitle %}
Registrar nueva Ubicación
{% endblock %}


{% block thead %}
<th> Sector </th>
<th> Calle principal </th>
<th> Intersección </th>
<th> Estado </th>
<th> Acciones </th>
{% endblock %}


{% block tbody %}

{% if ubicacion %}
{% for i in ubicacion %}
<tr>
    <td> {{ i.Sector }} </td>
    <td> {{ i.CallePrincipal }} </td>
    <td> {{ i.Interseccion }} </td>
    <td> {{ i.Estado }} </td>
    <td> </td>
</tr>

{% endfor %}
{% else %}
<tr>
    <td colspan="5"> No existe ubicación registrada </td>
</tr>
{% endif %}
{% endblock %}