{% extends 'modulos.html' %}
{% load static %}

{% block title %}
Módulo Ubicación
{% endblock %}
{% block search %}
<form action="{{ dir_search }}" method="GET">
    <div class="input-group">
        <input type="text" name="query" value="{{ query }}"
        placeholder = "Filtrar por Lugar o Sector" aria-describedby="basic-addon2" />
        <button type="submit" class="btn btn-primary mr-1" id="idSearchSp">Buscar</button>
    </div>
</form>
{% endblock %}
{% block btnTitle %}
Registrar nueva Ubicación
{% endblock %}


{% block thead %}
<th> Lugar </th>
<th> Sector </th>
<th> Calle principal </th>
<th> Estado </th>
<th> Acciones </th>
{% endblock %}


{% block tbody %}
{% if ubicacion %}
{% for i in ubicacion %}
<tr>
    <td> {{i.Lugar}} </td>
    <td> {{i.Sector}} </td>
    <td> {{ i.CallePrincipal}} </td>
    {% if i.Estado == True %}
    <td> Activo </td>
    {% else %}
    <td> Inactivo </td>
    {% endif %}
    <td>
        <a class="btn btn-dark" onclick="abrir_modal_editar('{% url 'ubicacion:editar_ubicacion' i.id %}')">
            Editar
        </a>

        <form action="{% url 'ubicacion:inactivar_activar_ubicacion' i.id %}" method="post" style="display: inline;">
            {% csrf_token %}

            {% if i.Estado %}
            <button type="submit" class="btn btn-danger">Inactivar</button> <!-- Verde para Activo -->
            {% else %}
            <button type="submit" class="btn btn-success">Activar</button> <!-- Rojo para Inactivo -->
            {% endif %}
        </form>

    </td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="5"> No existe ubicación registrada </td>
</tr>
{% endif %}
{% endblock %}