{% extends 'modulos.html' %}
{% load static %}

{% block title %}
Módulo Turno
{% endblock %}



{% block btnTitle %}
<a class="btn btn-dark btn-add" onclick="abrir_modal('{{ dirurl }}')">
    Registrar un nuevo turno
</a>
{% endblock %}

{% block thead %}
<th> Hora de Inicio </th>
<th> Hora Fin </th>
<th> Estado </th>
<th> Acciones </th>
{% endblock %}

{% block tbody %}
{% if turno %}
{% for i in turno %}
<tr>
    <td> {{ i.hora_inicio }} </td>
    <td> {{ i.hora_fin }} </td>
    {% if i.estado == True %}
    <td> Activo </td>
    {% else %}
    <td> Inactivo </td>
    {% endif %}
    <td>
        <a class="btn btn-dark" onclick="abrir_modal_editar('{% url 'turno:editar_turno' i.id %}')">
            Editar
        </a>
        <form action="{% url 'turno:inactivar_activar_turno' i.id %}" method="post" style="display: inline;">
            {% csrf_token %}

            {% if i.Estado %}
            <button type="submit" class="btn btn-danger">Inactivar</button> 
            {% else %}
            <button type="submit" class="btn btn-success">Activar</button> 
            {% endif %}
        </form>
    </td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="4"> No existen turnos registrados </td>
</tr>
{% endif %}
{% endblock %}