{% extends 'modulos.html' %}
{% load static %}

{% block title %}
Módulo Turno
{% endblock %}

{% block btnTitle %}
Registrar un nuevo turno
{% endblock %}

{% block thead %}
<th> Hora de Inicio </th>
<th> Hora Fin </th>
<th> Estado </th>
<th> Acciones </th>
{% endblock %}

{% block tbody %}
{% if turno %}
{% for i in turno %}
<tr>
    <td> {{ i.Hora_inicio }} </td>
    <td> {{ i.Hora_fin }} </td>
    {% if i.Estado == True %}
    <td> Activo </td>
    {% else %}
    <td> Inactivo </td>
    {% endif %}
    <td>
        <form action="{% url 'turno:inactivar_activar_turno' pk=i.id %}" method="post" style="display: inline;">
            {% csrf_token %}

            {% if i.Estado %}
            <button type="submit" class="btn btn-success">Inactivar</button> <!-- Verde para Activo -->
            {% else %}
            <button type="submit" class="btn btn-danger">Activar</button> <!-- Rojo para Inactivo -->
            {% endif %}
        </form>
    </td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="4"> No existen turnos registrados </td>
</tr>
{% endif %}
{% endblock %}