
{% extends 'login.html' %}
{% load static %}

{% block title %}
Cambiar Clave
{% endblock %}




{% block main %}

<div class="container-change-pass">
    
    <div class="container-grid">
        
        <div class="enlace">
            {% if request.user.primera_sesion == False %}
            <a href="{% url 'login:index' %}" class="btn-pass">Menú Principal</a>
            {% else %}
            <!-- Espacio vacío -->
            {% endif %}
        </div>
       
        <div class="validacion form">
                 
            <h3> La contraseña nueva debe cumplir con los siguientes parámetros:</h3>
            <ul>   
                <li id="lower">Al menos un caracter en minúscula</li>
                <li id="upper">Al menos un caracter en mayúscula</li>
                <li id="number">Al menos un número</li>
                <li id="special">Al menos un caracter especial</li>
                <li id="length">Al menos 8 caracteres</li>
            </ul>
        </div>
        <div class="change-pass-content">
            <form method="POST" >
                {% csrf_token %}
                <!-- Bloque para mostrar mensajes de error -->
                <div style='font-size: 1.2em'>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="message" style="padding: 10px; margin: 10px 0; border-radius: 5px; 
                                        {% if message.tags == 'error' %} background-color: #ffcccc; color: #d8000c; {% endif %}
                                        {% if message.tags == 'success' %} background-color: #aee17a; color: #005700; {% endif %}
                                        {% if message.tags == 'warning' %} background-color: #ffcc00; color: #6e4a00; {% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                
               
                {% if form.errors %}
                    <div class="error-message">
                        {% for field in form %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                <h2 class="title">Cambiar contraseña</h2>
                
                <div class="input-div pass">
                    <div class="i">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Contraseña actual</h5>
                        {{ form.password_actual}}
                        <span id="toggleBtnActual"></span>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Nueva contraseña</h5>
                        {{ form.password1 }}
                        <span id="toggleBtnNueva"></span>
                    </div>
                </div>
                <div class="input-div pass2">
                    <div class="i">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Confirmar contraseña</h5>
                        {{ form.password2 }}
                        <span id="toggleBtnNuevaConf"></span>
                    </div>
                </div>
                <input type="submit" class="btn" value="Cambiar">
                
            </form>
        </div>
    </div>
</div>





{% endblock %}






