{% extends 'login.html' %}
{% load static %}


{% block title %}
<title>Clave Nueva</title>
{% endblock %}

{% block main %}
<img class="wave" src="{% static 'img/wave4.png' %}">
<div class="container">
    <div class="img">
        <img src="{% static 'img/illustrationch.svg' %}" height="400">
    </div>
    <div class="change-pass-content">
        <form method="POST" class="form pass">
            {% csrf_token %}
            <h2 class="title">Restablecer contraseña</h2>
            <div class="input-div pass">
                <div class="i">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Contraseña</h5>
                    {{ form.password1 }}
                </div>
            </div>
            <div class="input-div pass2">
                <div class="i">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Confirmar contraseña</h5>
                    {{ form.password2 }}
                </div>
            </div>

            <input type="submit" class="btn" value="Cambiar contraseña">
        </form>
    </div>
</div>

{% block JS %}
<script src="{% static 'validar_login.js' %}"></script>
{% endblock %}
{% endblock %}