
{% extends 'login.html' %}
{% load static %}

{% block title %}
Cambiar Clave
{% endblock %}

{% block main %}
<img class="wave" src="{% static 'img/wave4.png' %}">
<div class="container">
    <div class="img">
        <img src="{% static 'img/illustrationch.svg' %}" height="400">
    </div>
    <div class="change-pass-content">
        <form method="post">
            {% csrf_token %}
            <!-- Bloque para mostrar mensajes de error -->
            {% if messages %}
            <div class="error-message">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </div>
        {% endif %}
            <h2 class="title">Cambiar contraseña</h2>
            <div class="input-div pass">
                <div class="i">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Contraseña actual</h5>
                    {{ form.password_actual}}
                    <span id="toggleBtnActual"></span>
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Nueva contraseña</h5>
                    {{ form.password1 }}
                    <span id="toggleBtnNueva"></span>
                </div>
            </div>
            <div class="input-div pass2">
                <div class="i">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Confirmar contraseña</h5>
                    {{ form.password2 }}
                    <span id="toggleBtnNuevaConf"></span>
                </div>
            </div>
            <input type="submit" class="btn" value="Cambiar contraseña">
            
        </form>
    </div>
</div>



{% endblock %}






