{% extends 'modulos.html' %}
{% load static %}

{% block title %}
Modulo Personal
{% endblock %}


{% block btnTitle %}
Registrar personal
{% endblock %}

{% block thead %}
<th> Nombre </th>
<th> Apellido </th>
<th> Cédula </th>
<th> Correo Electrónico </th>
<th> Rol </th>
<th> Estado </th>
<th> Acciones </th>
{% endblock %}

{% block tbody %}

    {% if personal %}
        {% for i in personal %}
        <td> {{i.nombre}} </td>
        <td> {{i.apellido}} </td>
        <td> {{i.cedula}} </td>
        <td> {{i.email}} </td>
        <td> {{i.rol}} </td>
        {% if i.estado == True %}
        <td> Activo </td>
        {% else %}
        <td> Inactivo </td>
        {% endif %}

        <td>
            <a href="#" class="btn-edit"> <i class="fa-duotone fa-solid fa-pen"></i> </a>
    
            <a href="#" class="btn-delete"> <i class="fa-solid fa-trash"></i> </a>
        </td>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="7"> No existe personal registrado</td>
        </tr>
    {% endif %}
{% endblock %}