<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>
		{% block title %}
		Login
		{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/diseño.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block head %}

	{% endblock %}
</head>

<body>
	{% block main %}
	<img class="wave" src="{% static 'img/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'img/illustrationl.svg' %} ">
		</div>
		<div class="login-content">
			<form method="post">
				{% csrf_token %}
				<div style='font-size: 1.2em'>
					{% if messages %}
						{% for message in messages %}
							<div style="padding: 10px; margin: 10px 0; border-radius: 5px; 
										{% if message.tags == 'error' %} background-color: #ffcccc; color: #d8000c; {% endif %}
										{% if message.tags == 'success' %} background-color: #aee17a; color: #005700; {% endif %}">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				</div>
				<h2 class="title">Bienvenido</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fa-solid fa-user"></i>
					</div>
					<div class="div">
						<h5>Usuario</h5>
						{{ form.username }}
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fa-solid fa-lock"></i>
					</div>
					<div class="div">
						<h5>Contraseña</h5>
						{{ form.password }}
					</div>
				</div>
				<a href="{% url 'olvidar_clave'%}">¿Olvidó su contraseña?</a>
				<input type="submit" class="btn" value="Iniciar Sesión">
			</form>
		</div>
	</div>
	{% endblock %}

	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	<script src="https://kit.fontawesome.com/6f24398be6.js" crossorigin="anonymous"></script>
	{% block JS %}
	{% endblock %}
</body>

</html>