{% extends 'login.html' %}
{% load static %}


{% block title %}
Olvidar Clave
{% endblock %}



{% block main %}
<img class="wave" src="{% static 'img/wave3.png' %}">
<div class="container">
    <div class="img">
        <img src="{% static 'img/illustrationse.svg' %}">
    </div>
    <div class="send-email-content">
        <form method="post">
            {% csrf_token %}
            <div style='font-size: 1.2em'>
                {% if messages %}
                    {% for message in messages %}
                        <div class="message" style="padding: 10px; margin: 10px 0; border-radius: 5px; 
                                    {% if message.tags == 'error' %} background-color: #ffcccc; color: #d8000c; {% endif %}
                                    {% if message.tags == 'success' %} background-color: #aee17a; color: #005700; {% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <h2> ¿Desea restablecer la contraseña?</h2>
            <div class="advice" >
                <span style="color: #797878;"><strong>Introduzca el correo electrónico asociado a su cuenta de usuario y se le enviará un enlace para restablecer la contraseña.</strong></span>
            </div>
            <div class="input-div email">
                <div class="i">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="div">
                    <h5>Correo Electrónico</h5>
                    {{ form.correo }}
                </div>
            </div>
            <input type="submit" class="btn" value="Enviar correo">
            <div class="align-r">
                <a href="{% url 'login:login' %}" style="font-size: 20px;">Regresar</a>
            </div>
        </form>
        
    </div>
</div>




{% endblock %}