{% extends 'modulos.html' %}
{% load static %}

{% block title %}
Modulo Auditoría
{% endblock %}

{% block btnTitle %}
{% endblock %}

{% block search %}
<form action="{{ dir_search }}" method="GET">
    <div class="input-group">
        <input type="text" name="query" value="{{ query }}" placeholder="Filtra por Tabla o Acción"
            aria-describedby="basic-addon2" />
        <button type="submit" class="btn btn-primary mr-1" id="idSearchSp">Buscar</button>
    </div>
</form>
{% endblock %}

{% block thead %}
<th> Tabla </th>
<th> Id de Registro </th>
<th> Acción </th>
<th> Fecha de la acción </th>
<th> Hora </th>
<th> Nombre de la máquina </th>
<th> Estación </th>
{% endblock %}


{% block tbody %}
{% for i in auditoria %}
<tr>
    <td> {{ i.tabla }} </td>
    <td> {{ i.registro_id }} </td>
    {% if i.descripcion == 'M' %}
    <td> Modificar </td>
    {% elif i.descripcion == 'C' %}
    <td> Crear </td>
    {% elif i.descripcion == 'A' %}
    <td> Activar </td>
    {% elif i.descripcion == 'I' %}
    <td> Inactivar </td>
    {% endif %}
    <td> {{ i.fecha }} </td>
    <td> {{ i.hora }} </td>
    <td> {{ i.nombre_maquina }} </td>
    <td> {{ i.estacion }} </td>
</tr>
{% endfor %}
{% endblock %}