{% extends 'modulos.html' %}
{% load static %}


{% block title %}
Modulo Novedad
{% endblock %}

{% block btnTitle %}
Registrar nueva novedad
{% endblock %}

{% block thead %}
<th> Tipo de Novedad </th>
<th> Descripción </th>
<th> Estado </th>
<th> Acciones </th>
{% endblock %}

{% block tbody %}
{% if novedad %}
{% for nov in novedad %}
<tr>
    <td>{{ nov.TipoNovedad }}</td>
    <td>{{ nov.Descripcion }}</td>
    {% if nov.Estado == True %}
        <td>Activo</td>
    {% else %}
        <td>Inactivo</td>
    {% endif %}
    <td>
        <a class="btn-edit">
            <i class="fa-duotone fa-solid fa-pen">
                
            </i></a>
        
        
        <a class="btn-delete"> <i class="fa-solid fa-trash"></i> </a>
    </td>
</tr>
{% endfor %}
{% else %}
    <tr>
        <td colspan="4"> No existen novedades registradas</td>
    </tr>
{% endif %}

{% endblock %}

