{% extends 'modulos.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/diseño_forms.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block sidebar %}
{% endblock %}


{% block forms %}
<form class="container text-dark" method="POST" action="{{ action_save }}" enctype="multipart/form-data"
    name="registro">
    {% csrf_token %}

    <div class="modal-dialog mod modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h2 class="title text-center text-white">
                    {{ titulo }}
                </h2>
            </div>
            <div class="modal-body">
                <div class="container-regist">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="message" style="padding: 10px; margin: 10px 0; border-radius: 5px; 
            {% if message.tags == 'error' %} background-color: #ffcccc; color: #d8000c; {% endif %}
            {% if message.tags == 'success' %} background-color: #aee17a; color: #005700; {% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="regist-content">
                        {% block controls %}


                        {% endblock %}
                    </div>
                </div>

                <div class="div-btn">

                    <button type="submit" class="btn ">
                        Guardar registro
                    </button>
                    <a href="{{cancelar}}" class="btn nav-link text-center align-items-center">

                        Cancelar

                    </a>
                </div>
            </div>
        </div>
    </div>


</form>
{% endblock %}

{% block js %}
<script src="{% static 'js/input_effect.js' %}"></script>
{% endblock %}