{% extends 'modulos.html' %}
{% load static %}


{% block header %}
{% endblock %}

{% block sidebar %}
{% endblock %}


{% block forms %}
<form class="container text-dark d-flex" method="POST" action="{{ action_save }}" enctype="multipart/form-data"
    name="registro">
    {% csrf_token %}
    <div class="modal-dialog modal-lg my-auto" role="document">
        <div class="modal-content shadow my-auto mx-auto rounded-3"> <!-- Clase aplicada aquí -->
            <div class="modal-header bg-dark text-white">
                <h2 class="modal-title text-center w-100">{{ titulo }}</h2>
            </div>
            <div class="modal-body m-4">
                {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="regist-content">
                    {% block controls %}
                    <!-- Aquí los campos del formulario -->
                    {% endblock %}
                </div>
            </div>
            <div class="div-btn">
                <button type="submit" class="btn align-items-center">Guardar registro</button>
                <a href="{{ cancelar }}" class="btn nav-link text-center align-items-center">Cancelar</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block js %}
<script src="{% static 'js/autocomplete_input.js' %}"></script>
<script src="{% static 'js/input_effect.js' %}"></script>
<script src="{% static 'js/hide_show_passw.js' %}"></script>
<script src="{% static 'js/ocultar_mensajes.js'%}"></script>
{% endblock %}