{% extends 'modulos.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/diseño_forms.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block sidebar %}
{% endblock %}


{% block forms %}
<form class="container text-dark" method="post" action="{{ action_save }}" enctype="multipart/form-data"
    name="registro">
    {% csrf_token %}
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h2 class="title text-center text-white">
                    {{ titulo }}
                </h2>
            </div>
            <div class="modal-body">
                <div class="container-regist">
                    <div class="regist-content">
                        {% block controls %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block boton %}
    <div class="text-center">
        <button type="submit" class="btn btn-success">
            Guardar registro
        </button>
        <a href="{{cancelar}}" class="btn btn-warning ">
            Cancelar
        </a>
    </div>

    {% endblock %}
</form>
{% endblock %}

{% block js %}
{% endblock %}