{% extends 'index.html' %}
{% load static %}



{% block main %}
<div class="content">
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock %}

    <!-- Main Content -->
    {% block forms %}
    <main class="main-content pt-5">
        {% if messages %}
        {% for message in messages %}
        <div class="message" style="padding: 10px; margin: 10px 0; border-radius: 5px; 
            {% if message.tags == 'error' %} background-color: #ffcccc; color: #d8000c; {% endif %}
            {% if message.tags == 'success' %} background-color: #aee17a; color: #005700; {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        {% if form.errors %}
        <div class="error-message">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="container">
            <!-- Botón para abrir el modal -->
            <a class="btn btn-dark btn-add" onclick="abrir_modal('{{ dirurl }}')">
                {% block btnTitle %}
                {% endblock %}
            </a>

            <div class="table-container table-responsive">
                <h5 class="text-center bg-dark text-white p-3">{{ title_table }}</h5>
                <table class="table">
                    <thead>
                        <tr>
                            {% block thead %}
                            {% endblock %}
                        </tr>
                    </thead>
                    <tbody>
                        {% block tbody %}
                        {% endblock %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    {% endblock %}
</div>

<div class="modal fade" id="insertar" role="dialgo"></div>

{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}