{% extends 'index.html' %}
{% load static %}

{% block main %}

<div class="content">

    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock %}
    <!-- Main Content -->
    {% block forms %}
    <main class="main-content" style="margin-top: 50px;">

        {% if messages %}
        {% for message in messages %}
        <div class="message" style="padding: 10px; margin: 10px 0; border-radius: 5px;
                            {% if message.tags == 'error' %} background-color: #ffcccc; color: #d8000c; {% endif %}
                            {% if message.tags == 'success' %} background-color: #aee17a; color: #005700; {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}


        <div class="container">
            <div class="search-btn">
                {% block search %}

                {% endblock %}
                <!-- Botón para abrir el modal -->
                {% block btnTitle %}

                {% endblock %}
            </div>

            <div class="table-container">
                <h5 class="text-center bg-dark text-white p-3">{{ title_table }}</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover rounded">
                        <thead class="bg-dark text-white">
                            <tr>
                                {% block thead %}
                                {% endblock %}
                            </tr>
                        </thead>
                        <tbody>
                            {% block tbody %}
                            {% endblock %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% block pagination %}
            <!-- Paginación -->
            <div class="d-flex justify-content-center mt-4">
                {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}

                        {% for num in paginator.page_range %}
                        {% if num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %} <li
                            class="page-item {% if num == page_obj.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}&q={{ request.GET.q }}">{{ num }}</a>
                            </li>
                            {% elif num == 1 or num == paginator.num_pages %}
                            <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}&q={{ request.GET.q }}">{{ num }}</a>
                            </li>
                            {% elif num == page_obj.number|add:-3 or num == page_obj.number|add:3 %}
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                            {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}"
                                    aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
            {% endblock %}

        </div>
    </main>
    {% endblock %}
</div>

<div class="modal fade" id="insertar" role="dialog"></div>
<div class="modal fade" id="editar" role="dialog"></div>


{% endblock %}

{% block js %}
<script src="{% static 'js/ocultar_mensajes.js'%}"></script>
{% endblock %}