{% extends 'form.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block controls %}
<div class="container mt-5">
    {% if messages %}
    <div class="error-message">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% if form.errors %}
    <div class="error-message">
        {% for field in form %}
        {% for error in field.errors %}
        {{ error }} <br>
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <!-- Encabezado del formulario -->
    <!-- <div class="text-center mb-4 p-4" style="background-color: #12171e; color: white; border-radius: 8px 8px 0px 0px;">
        <h2 class="fw-bold">Formulario de Reporte</h2>
    </div> -->


    <!-- Formulario -->
    <form class="container text-dark" method="POST" action="{{ action_save }}" enctype="multipart/form-data"
        name="registro">
        {% csrf_token %}

        <div class="container mt-4">
            <!-- Cabecera de Formulario (Fecha, Hora, Agente y Novedad) -->
            <div class="row mb-3">
                <div class="col-md-4">
                    <h5>Fecha</h5>
                    <input class="form-control" type="date" id="fecha" disabled>
                </div>

                <div class="col-md-4">
                    <h5>Hora</h5>
                    <input class="form-control" type="time" id="hora" disabled>
                </div>

                <div class="col-md-4">
                    <h5>Novedad</h5>
                    {{ form.novedad }}
                </div>
            </div>

            <hr>

            <!-- Detalle del Formulario -->
            <div class="row mb-3">
                <div class="col-md-4">
                    <h5>Prioridad</h5>
                    {{ form.prioridad }}
                </div>

                <div class="col-md-4">
                    <h5>Evidencia</h5>
                    {{ detalle_form.evidencia }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5>Descripción</h5>
                    {{ detalle_form.descripcion }}
                </div>
            </div>
        </div>
    </form>

    <script>
        // Obtener la fecha y hora actuales
        const now = new Date();
        const fecha = now.toISOString().split('T')[0]; // Solo la parte de la fecha (YYYY-MM-DD)
        const hora = now.toTimeString().split(' ')[0].substring(0, 5); // Solo la parte de la hora (HH:MM)

        // Asignar la fecha y la hora a los inputs
        document.getElementById('fecha').value = fecha;
        document.getElementById('hora').value = hora;
    </script>
</div>
{% endblock %}