{% extends 'modulos.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}
Módulo Reportes
{% endblock %}

{% block btnTitle %}
<a class="btn btn-dark btn-add" href="{% url 'reportes:crear_reporte' %}">
    Registrar un nuevo reporte
</a>
{% endblock %}

{% block thead %}
<th> Id </th>
<th> Fecha </th>
<th> Hora </th>
<th> Novedad </th>
<th> Prioridad </th>
<th> Estado del incidente </th>
<th> Actualizar estado de incidente </th>
<th> Ver Detalle </th>

{% endblock %}

{% block tbody %}
{% if rep %}
{% for cab in rep %}
<tr>
    <td>{{ cab.id }}</td>
    <td>{{ cab.fecha }}</td>
    <td>{{ cab.detalles.first.hora|default:"-" }}</td>
    <td>{{ cab.novedad }}</td>
    <td>
        <span class="btn {% if cab.prioridad == 'M' %}btn-warning{% elif cab.prioridad == 'A' %}btn-danger{% else %}btn-success{% endif %}">
            {{ cab.get_prioridad_display }}
        </span>
    </td>
    <td>
         <!-- Aquí solo se muestra el estado actual del incidente -->
        
                <!-- Mostrar el estado del último detalle asociado a la cabecera -->
            {% if cab.detalles.all %}
            {% with ultimo_detalle=cab.detalles.last %}
                <span class="btn {% if ultimo_detalle.estado_incidente == 'N' %}btn-info{% elif ultimo_detalle.estado_incidente == 'E' %}btn-warning{% elif ultimo_detalle.estado_incidente == 'A' %}btn-success{% else %}btn-secondary{% endif %}">
                    {{ ultimo_detalle.get_estado_incidente_display }}
                </span>
            {% endwith %}
        {% else %}
            <span class="btn btn-secondary">Sin detalles</span>
        {% endif %}
        
    </td>
    <td>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="incidente_id" value="{{ cab.id }}">
            
            <div class="form-group">
                <label for="nuevo_estado">Nuevo Estado</label>
                <select class="form-control" name="nuevo_estado" id="nuevo_estado" required>
                    <option value="N" {% if nuevo_estado == 'N' or cab.estado_incidente == 'N' %}selected{% endif %}>Notificado</option>
                    <option value="E" {% if nuevo_estado == 'E' or cab.estado_incidente == 'E' %}selected{% endif %}>En Proceso</option>
                    <option value="A" {% if nuevo_estado == 'A' or cab.estado_incidente == 'A' %}selected{% endif %}>Atendido</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control" name="descripcion" id="descripcion" required></textarea>
            </div>
        
            <div class="form-group">
                <label for="evidencia">Evidencia (opcional)</label>
                <input type="file" class="form-control" name="evidencia" id="evidencia">
            </div>
        
            <button type="submit" class="btn btn-primary">Actualizar Estado</button>
        </form>
    </td>
    <td>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalLabel-{{ cab.id }}">
            <i class="fa-sharp fa-solid fa-eye"></i>
        </button>
    </td>
</tr>

<!-- Modal -->
<div class="modal fade" id="modalLabel-{{ cab.id }}" tabindex="-1" aria-labelledby="modalLabel-{{ cab.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h1 class="modal-title fs-5 text-white mx-auto" id="modalLabel-{{ cab.id }}">Detalles de la Incidencia</h1>
            </div>
            <div class="modal-body">
                {% for det in cab.detalles.all %}
                <div class="d-flex flex-column">
                    {% if det.evidencia %}
                    {% if det.evidencia.url|is_image %}
                        <img width="400px" height="500px" src="{{ det.evidencia.url }}" alt="Evidencia" class="mx-auto">
                    {% elif det.evidencia.url|is_video %}
                        <video width="400px" height="500px" src=" {{det.evidencia.url }}" controls class="img-fluid mx-auto"></video>
                    {% else %}
                        <a href="{{ det.evidencia.url }}" class="btn btn-link">Descargar Evidencia</a>
                    {% endif %}
                    {% else %}
                        <p>No hay evidencia disponible.</p>
                    {% endif %}
                    <div class="p-2 d-flex flex-column">
                        <p><strong>Hora:</strong> {{ det.hora }}</p>
                        <p><strong>Estado:</strong> 
                            <span class="btn {% if det.estado_incidente == 'N' %}btn-info{% elif det.estado_incidente == 'E' %}btn-warning{% elif det.estado_incidente == 'A' %}btn-success{% else %}btn-secondary{% endif %}">
                                {{ det.get_estado_incidente_display }}
                            </span>
                        </p>
                        <p><strong>Descripción:</strong> {{ det.descripcion }}</p>
                        <p><strong>Comentarios Adicionales:</strong> {{ det.comentarios_adicionales|default:"-" }}</p>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<tr>
    <td colspan="8">Aún no se han realizado reportes.</td>
</tr>
{% endif %}
{% endblock %}
