{% extends 'modulos.html '%}

{% load static %}
{% load custom_filters %}

{% block title %}
Módulo Reportes
{% endblock %}




{% block filtros %}
<form method="get" class="row g-3 align-items-center mt-3">
    <div class="col-md-3">
        <label for="prioridad" class="form-label fw-bold">Filtro por prioridad</label>
        <select id="prioridad" name="prioridad" class="form-select">
            <option value="" disabled selected>-- Seleccione --</option>
            <option value="A" {% if prioridad == "A" %}selected{% endif %}>Alto</option>
            <option value="M" {% if prioridad == "M" %}selected{% endif %}>Medio</option>
            <option value="B" {% if prioridad == "B" %}selected{% endif %}>Bajo</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="estado" class="form-label fw-bold">Filtro por estado</label>
        <select id="estado" name="estado" class="form-select">
            <option value="" disabled selected>Seleccione...</option>
            <option value="N" {% if estado == "N" %}selected{% endif %}>Notificado</option>
            <option value="E" {% if estado == "E" %}selected{% endif %}>En Proceso</option>
            <option value="A" {% if estado == "A" %}selected{% endif %}>Atendido</option>
            <option value="C" {% if estado == "C" %}selected{% endif %}>Cerrado</option>
        </select>
    </div>
    <div class="col-md-6 d-flex flex-column">
        <label for="estado" class="form-label fw-bold">Filtro por lugar</label>
        <select name="query" class="form-select">
            <option value="" disabled selected>-- Seleccione --</option>
            {% for ubicacion in ubicaciones %}
                <option value="{{ ubicacion.id }}" {% if query == ubicacion.id|stringformat:"s" %}selected{% endif %}>
                    {{ ubicacion.lugar }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-12 text-center mt-3">
        <!-- Botones centrados en una fila separada -->
        <button type="submit" class="btn btn-primary me-2">Filtrar</button>
        <a href="{% url 'reportesCoord:listado_reportes_agente' %}" class="btn btn-secondary">Limpiar</a>
    </div>
</form>

{% endblock %}

{% block metricas %}
<div class="container mt-4">
   
    <!-- Resumen de Reportes -->
    <div class="row my-4">
        <div class="col-md-3">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Reportes Pendientes</div>
                <div class="card-body">
                    <h5 class="card-title">{{ resumen_estados.pendientes }}</h5>
                    <p class="card-text">Reportes que necesitan ser atendidos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">Reportes en Proceso</div>
                <div class="card-body">
                    <h5 class="card-title">{{ resumen_estados.en_proceso }}</h5>
                    <p class="card-text">Reportes actualmente en seguimiento.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Reportes Atendidos</div>
                <div class="card-body">
                    <h5 class="card-title">{{ resumen_estados.atendidos }}</h5>
                    <p class="card-text">Reportes que ya fueron atendidos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">Reportes Cerrados</div>
                <div class="card-body">
                    <h5 class="card-title">{{ resumen_estados.cerrados }}</h5>
                    <p class="card-text">Reportes que ya fueron cerrados.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block thead %}
<th> Id </th>
<th> Fecha </th>
<th> Hora </th>
<th> Lugar </th>
<th> Reporta </th>
<th> Novedad </th>
<th> Prioridad </th>
<th> Estado del incidente </th>
<th> Actualizar estado del incidente </th>
<th> Ver evidencia </th>
<th> Generar pdf </th>

{% endblock %}

{% block tbody %}
{% if rep %}
{% for cab in rep %}
<tr>
    <td> {{ cab.id }} </td>
    <td>{{ cab.fecha }}</td>
    <td>
        {# Mostramos la hora del primer detalle como ejemplo, pero puedes personalizar según tu lógica #}
        {{ cab.detalles.first.hora|default:"-" }}
    </td>
    
    <td> {{ cab.agente.ubicacion|default:"-" }} </td>
    <td> {{ cab.agente.usuario.nombre|default:"-" }} {{ cab.agente.usuario.apellido|default:"-" }}</td>
    <td> {{ cab.novedad }}</td>
    <td>
        <span class="btn {% if cab.prioridad == 'M' %}btn-warning{% elif cab.prioridad == 'A' %}btn-danger{% else %}btn-success{% endif %}">
            {{ cab.get_prioridad_display }}
        </span>
    </td>
    <td>
        <!--Se muestra el estado actual del incidente -->
    
        <!-- Mostrar el estado del último detalle asociado a la cabecera -->
        {% if cab.detalles.all %}
        {% with ultimo_detalle=cab.detalles.last %}
            <span class="btn {% if ultimo_detalle.estado_incidente == 'N' %}btn-info{% elif ultimo_detalle.estado_incidente == 'E' %}btn-warning{% elif ultimo_detalle.estado_incidente == 'A' %}btn-success{% else %}btn-secondary{% endif %}">
                {{ ultimo_detalle.get_estado_incidente_display }}
            </span>
        {% endwith %}
        {% else %}
            <span class="btn btn-secondary">Sin detalles</span>
        {% endif %}
        
    </td>
    <td>
        <!-- Botón para abrir el modal -->
     
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalFormulario-{{ cab.id }}"  {% if cab.detalles.last.estado_incidente == 'C' %}disabled{% endif %}>
            Actualizar
        </button>
    </td>
    
    <!-- Modal -->
    <div class="modal fade" id="modalFormulario-{{ cab.id }}" tabindex="-1" aria-labelledby="modalFormularioLabel-{{ cab.id }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Encabezado del Modal -->
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title mx-auto" id="modalFormularioLabel-{{ cab.id }}">
                        Actualizar Estado del Incidente
                    </h5>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <!-- Contenido del Modal -->
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="incidente_id" value="{{ cab.id }}">
                        
                        <!-- Campo: Nuevo Estado -->
                        <div class="mb-3">
                            <label for="nuevo_estado-{{ cab.id }}" class="form-label fw-bold">Nuevo Estado</label>
                            <select class="form-select" name="nuevo_estado" id="nuevo_estado-{{ cab.id }}" required>
                                <option value="" disabled selected>Selecciona un estado</option>
                                <option value="C" {% if nuevo_estado == 'C' or cab.estado_incidente == 'C' %}selected{% endif %}>Cerrado</option>      
                            </select>
                        </div>
                        
                        <!-- Campo: Descripción -->
                        <div class="mb-3">
                            <label for="descripcion-{{ cab.id }}" class="form-label fw-bold">Descripción</label>
                            <textarea class="form-control" name="descripcion" id="descripcion-{{ cab.id }}" rows="3" required placeholder="Agrega una descripción del cambio..."></textarea>
                        </div>
                        
                        <!-- Campo: Evidencia -->
                        <div class="mb-3">
                            <label for="evidencia-{{ cab.id }}" class="form-label fw-bold">Evidencia (opcional)</label>
                            <input type="file" class="form-control" name="evidencia" id="evidencia-{{ cab.id }}" accept="image/*;capture=camera">
                            <small class="form-text text-muted">Puedes subir imágenes o videos que respalden el cambio de estado.</small>
                        </div>
                        
                        <!-- Campo: Comentarios -->
                        <div class="mb-3">
                            <label for="comentarios-{{ cab.id }}" class="form-label fw-bold">Comentarios adicionales</label>
                            <textarea class="form-control" name="comentarios" id="comentarios-{{ cab.id }}" rows="2" placeholder="Escribe comentarios adicionales..."></textarea>
                        </div>
                        
                        <!-- Botones -->
                        <div class="d-flex " style="justify-content: space-around !important;">
                            <button type="button" class="btn btn-secondary me-2 " data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <td>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalLabel-{{ cab.id }}">
            <i class="fa-sharp fa-solid fa-eye"></i>
        </button>
    </td>
    <td>
        <a href="{% url 'reportesCoord:reporte_incidente' cab.id %}">
            <i class="fa-sharp fa-solid fa-file-pdf"></i>
        </a>
    </td>
   
    
</tr>

<!-- Modal para detalles -->
<div class="modal fade" id="modalLabel-{{ cab.id }}" tabindex="-1" aria-labelledby="modalLabel-{{ cab.id }}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h1 class="modal-title text-white fs-5 mx-auto" id="modalLabel-{{ cab.id }}">Visualización del reporte
                    <strong>
                        || Novedad: </strong>{{cab.novedad}} || <strong> Fecha: </strong> {{ cab.fecha }} </h1>
            </div>
            <div class="modal-body flex">
                {% for det in cab.detalles.all %}
                <div class="d-flex flex-column mb-3">
                    <!-- Evidencia con marco y centrado -->
                    <div class="mb-3 d-flex justify-content-center">
                        {% if det.evidencia %}
                        <div class="border border-2 p-2 rounded ">
                            {% if det.evidencia.url|is_image %}
                                <img  width="400px" height="400px" src="{{ det.evidencia.url }}" alt="Evidencia" class="mx-auto d-block">
                            {% elif det.evidencia.url|is_video %}
                                <video width="100%" height="auto" controls class="mx-auto d-block">
                                    <source src="{{ det.evidencia.url }}" type="video/mp4">
                                </video>
                            {% else %}
                                <a href="{{ det.evidencia.url }}" class="btn btn-link" target="_blank">Descargar Evidencia</a>
                            {% endif %}
                        </div>
                        
                        {% else %}
                            <p>No hay evidencia disponible.</p>
                        {% endif %}
                    </div>
                    
            
                    
                    <!-- Detalles del incidente -->
                    <div class="p-3 bg-light rounded flex-column">
                        <p><strong>Hora:</strong> {{ det.hora }}</p>
                        <p><strong>Descripción:</strong> {{ det.descripcion }}</p> 
                        <p><strong>Comentarios Adicionales:</strong> {{ det.comentarios_adicionales|default:"-" }}</p>
                    </div>
                </div>
                <hr class="my-3">
                {% endfor %}
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<tr>
    <td colspan="10">Aún no se han realizado reportes</td>
</tr>
{% endif %}

{% endblock %}