{% extends 'modulos.html '%}

{% load static %}
{% load custom_filters %}

{% block title %}
Módulo Reportes
{% endblock %}

{% block thead %}
<th> Id </th>
<th> Fecha </th>
<th> Hora </th>
<th> Turno </th>
<th> Lugar </th>
<th> Reporta </th>
<th> Novedad </th>
<th> Prioridad </th>
<th> Estado Incidente </th>
<th> Ver evidencia y descripción </th>

{% endblock %}

{% block tbody %}
{% if rep %}
{% for cab in rep %}
<tr>
    <td> {{ cab.id }} </td>
    <td>{{ cab.fecha }}</td>
    <td>
        {# Mostramos la hora del primer detalle como ejemplo, pero puedes personalizar según tu lógica #}
        {{ cab.detalles.first.hora|default:"-" }}
    </td>
    <td> {{ cab.agente.turno|default:"-" }} </td>
    <td> {{ cab.agente.ubicacion|default:"-" }} </td>
    <td> {{ cab.agente.usuario.nombre|default:"-" }} {{ cab.agente.usuario.apellido|default:"-" }}</td>
    <td>{{ cab.novedad }}</td>
    <td>
        {% if cab.prioridad == "M" %} 
        Media
        {% elif cab.prioridad == "B" %} 
        Baja
        {% elif cab.prioridad == "A" %} 
        Alta
        {% endif %}
    </td>
    <td>
        {% if cab.detalles.first.estado_incidente == "N" %} 
        <p class="btn btn-primary"> Notificado </p>
        {% elif cab.detalles.first.estado_incidente == "R" %} 
        <p class="btn btn-success"> Resuelto </p>
        {% elif cab.detalles.first.estado_incidente == "E" %} 
        <p class="btn btn-warning"> En proceso </p>
        {% endif %}
    </td>
    <td>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalLabel-{{ cab.id }}">
            <i class="fa-sharp fa-solid fa-eye"></i>
        </button>
        
    </td>
    
</tr>

<!-- Modal para detalles -->
<div class="modal fade" id="modalLabel-{{ cab.id }}" tabindex="-1" aria-labelledby="modalLabel-{{ cab.id }}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h1 class="modal-title text-white fs-5 mx-auto" id="modalLabel-{{ cab.id }}">Visualización del reporte
                    <strong>
                        || Novedad: </strong>{{cab.novedad}} || <strong> Fecha: </strong> {{ cab.fecha }} </h1>
            </div>
            <div class="modal-body flex">
                {% for det in cab.detalles.all %}
                <div class="d-flex flex-column">
                    {% if det.evidencia %}
                    {% if det.evidencia.url|is_image %}
                    <img width="500px" class="mx-auto my-auto" src="{{ det.evidencia.url }}" alt="Evidencia"
                        class="img-fluid">
                    {% elif det.evidencia.url|is_video %}
                    <video width="400px" class="mx-auto my-auto" src="{{ det.evidencia.url }}" controls
                        class="img-fluid"></video>
                    {% endif %}
                    {% else %}
                    <p>No hay evidencia disponible.</p>
                    {% endif %}
                    <div class="d-flex flex-row justify-content-evenly">
                        <p><strong>Hora:</strong> {{ det.hora }}</p>
                        <p><strong>Prioridad:</strong>
                            {% if cab.prioridad == "M" %} Medio
                            {% elif cab.prioridad == "B" %} Bajo
                            {% elif cab.prioridad == "A" %} Alto
                            {% endif %}
                        </p>
                        <p> <strong>Descripción: </strong> {{det.descripcion}} </p>
                    </div>

                </div>
                {% endfor %}
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<tr>
    <td colspan="10">Aún no se han realizado reportes</td>
</tr>
{% endif %}
{% endblock %}